<h1>str api test</h1>
<hr/>

<h2>Register Book</h2>

<div *ngIf="error" class="mb50">
    {{error}}
</div>

<form [formGroup]="modifiedData" (ngSubmit)="onSubmit(modifiedData.value)" class="registerBook">
    <div class="mb10">
        <label for="title">제목</label>
        <input id="title" formControlName="title"/>
    </div>
    <div class="mb10">
        <label for="author">저자</label>
        <input id="author" formControlName="author"/>
    </div>
    <div>
        <input type="file" name="files" (change)="registerBookCover( $event )" />
    </div>
    <div class="mt10">
        <label for="description">내용</label>
        <textarea id="description" rows="10" formControlName="description"></textarea>
    </div>

    <button type="submit" class="mt30">등록</button>
</form>


<hr/>

<h1>Books</h1>
<ul>
    <li *ngFor="let book of books">
        <img *ngIf="book.cover" [src]="url + book.cover.url" width="150" />
        <img *ngIf="book.cover" [src]="book.cover" width="150" />
        <p>{{book.title}}</p>
        <p>{{book.author}}</p>
        <p>{{book.description}}</p>
    </li>
</ul>
